body {
  color: #FFF;
  font-weight: 100;
}

a,
a:hover {
  color: #FFF;
  text-decoration: none;
  letter-spacing: 1px;
}

.full {
  background: url(../images/bkg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sidebar {
  background-color: rgba(0,0,0,0.5);
  border: none;
  width: 30%;
  height: 100%;
  position: fixed;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.sidebar .sidebarContent {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: table;
  padding: 0 7% 0 7%;
}

.sidebar h1 {
  font-size: 2em;
  letter-spacing: 4px;
  font-weight: 100;
}

.sidebar .sidebarContent .largeLink {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px;
  border: 2px solid #FFF;
  margin: 0 0 10px 0;

  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -ms-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
  
  display: inline-block;
  float: left;
}

.sidebar .sidebarContent .social {
  font-size: 1.8em;
  margin-top: .8em;
  margin-bottom: .8em;
}

.sidebar .sidebarContent .menu {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: .8em;
}

.sidebar .sidebarContent .largeLink:hover {
  background-color: #FFF;
  color: #111;
  border-color: #FFF;
}


