html {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;

    background: url(/images/bkg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.row {
    height: 100%;
    margin: 0;
}

a, a:visited, a:link, a:active, a:hover {
    color: #FFF;
    text-decoration: none;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

.sidebar .sidebarContent {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: table;
    letter-spacing: 1px;
}

.sidebar h1 {
    font-size: 2em;
    letter-spacing: 4px;
    font-weight: 100;
}

.sidebar .sidebarContent .largeLink {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px;
    border: 2px solid #FFF;
    margin: 0 0 10px 0;

    -webkit-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -ms-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;

    display: inline-block;
    float: left;
}

.sidebar .sidebarContent .social {
    font-size: 1.8em;
    margin-top: .8em;
    margin-bottom: .8em;
    letter-spacing: .2em;
}

.sidebar .sidebarContent .menu {
    list-style: none;
    padding: 0;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 2em;
    margin-bottom: .8em;
}

.sidebar .sidebarContent .submenu {
    font-weight: 100;
}

.sidebar .sidebarContent .largeLink:hover {
    background-color: #FFF;
    color: #111;
    border-color: #FFF;
}

.container {
    padding: 3em;
    color: #3a3a3a;
}

.container > h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
    text-align: right;
    text-transform: uppercase;
    font-weight: 300;
}

.container .heading {
    z-index: 1; /* not proud of this */
    position:relative;
    top: 17px;
    text-align: right;
    padding-right: 20px;
    color: #000;
    opacity: .5;
}

.content {
    position: relative;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 48px;
    font-size: 1em;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.content:only-child,
.content:last-child {
    margin-bottom: 0;
}

.content > h4 {
    text-transform: uppercase;
}

.content a {
    color: #3a3a3a;
    font-weight: bold;
}

.content b {
    font-weight: 400;
    color: #252525;
}

.notFound > h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
    font-weight: 300;
    font-size: 3em;
    font-style: italic;
}

.notFound.content .message {
    margin-top: 3em;
    text-align: center;
    font-size: 1.5em;
}
