<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if page.title %} {{ page.title }} | {% endif %} Reylance.com</title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/images/favicon.png" rel="icon" type="image/png">
</head>

<body>
    <div class="row">
        <div class="container col-xs-12 col-md-8 col-md-push-4">
            {{ content }}
        </div>

        <div class="sidebar col-xs-12 col-md-4 col-md-pull-8">
            <div class="sidebarContent">
                    <a href="/"><h1>Reylance.com</h1></a>
                <div class="social">
                    <a href="http://linai.deviantart.com" target="_blank"><i class="fa fa-deviantart"></i></a>
                    <a href="http://pinterest.com/linaireylance" target="_blank"><i class="fa fa-pinterest"></i></a>
                </div>

                <ul class="menu">
                    <li><a href="/about">About</a></li>
                    <li><a href="http://art.reylance.com">Artwork</a></li>
                    <li><a href="http://vrhapsody.com/category/tech" target="_blank">Coding</a></li>
                    <li><a href="http://food.reylance.com">Food</a></li>
                    <li><a href="http://linai.storenvy.com" target="_blank">Merchandise</a></li>
                </ul>

                <div class="submenu">
                    <a href="/contact">Contact</a> /
                    <a href="/policy">Policy</a> /
                    <a href="/pricing">Pricing</a>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>

