<!DOCTYPE html>
<html class="full" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if page.title %} {{ page.title }} | {% endif %} Reylance.com</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/images/favicon.png" rel="icon" type="image/png">
</head>

<body>
    <div class="sidebar">
	<div class="sidebarContent">
            <h1>Reylance.com</h1>
	    <a class="largeLink" href="http://linai.storenvy.com">Store</a>
	    <a href="http://art.reylance.com">Art</a> /
     	    <a href="http://vrhapsody.com/category/tech" target="_blank">Code</a> /
	    <a href="http://food.reylance.com">Food</a>
	</div>
    </div>

    <div class="container">
        {{ content }}
    </div>

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>

